<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PE BUNE?!</title>
    <style>
        div.container {
            height: 10em;
            position: relative;
        }

        div.container-small {
            height: 5em;
            position: relative;
        }

        div.message {
            font: 16px/1.5 "Dosis", sans-serif;
            color: black;
            font-size: 3vw;
            color: white;
        }

        div.center {
            display: flex;
            justify-content: center;
            align-content: center;
        }
    </style>
</head>

<body style="background-color: #292d40;">
    <div class="container" style="margin:auto">
        <img style="text-align:center;margin:auto;display: block;" src="/favicon.ico" style="text-align:center">
    </div>
    <div class="container" style="display: flex; flex-direction: column; justify-content: center;flex-wrap:wrap;">
        <div class="message ceter" style="display:flex;flex-wrap:wrap;justify-content: center">404</div>
        <div class="message" style="display:flex;flex-wrap:wrap;justify-content: center">Page not found</div>
    </div>
    <div class="container"> </div>
    <div class="container-small"> </div>
    <div class="container-small"> </div>
</body>

</html>